.App {
  text-align: center;
  background: #61dafb;

}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.container{
  min-width: 320px;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
  border: 2px solid darkslategray;
}
.name{
  width: 128px;
  height: 50px;
  float: left;
  font-size: 25px;
  font-weight: 800;
  text-decoration: none;
  color: #fff;
  margin-top: 20px;
  padding-left: 45px;
}
.main-nav{
  position: relative;
}
.main-nav ul{
  display:block;
  position: static;
  width: auto;
  margin: 0;
  background: transparent;
  padding: 0 0 0 26%
}
.main-nav li{
  margin: 0;
  padding: 0;
  display: inline-block;
}
.main-nav li a{
  text-decoration: none;
  color: #fff;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 800;
  display: inline-block;
  border: none;
  padding: 32px 15px;
}
.main-nav li:last-child a{
  border: none;
}
.main-nav li a:hover{
  background: #bd2d30;
  color: #fff;
}

.colRight{
  position:relative;
  margin-left:30px;
  float:left;
  width:30%;
  border: 0px solid #1FA2E1;
  background: #7a9e0e;
}











footer{
  background: #314559;
  height: 60px;
}
.txt{
  display: flex;
  justify-content: space-between;
  padding-top: 6px;
}
.an2013{
  color: #fff;
  padding-left: 6px;
}
.outlinez{
  color: #7694b3;
  font-size: 12px;
  padding-right: 51px;
  padding-top: 5px;
}
.img{
  width: 200px;
}





